
<!DOCTYPE html>
<html lang="en">
{% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <title>bird_delete</title>
</head>
<body>
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <p>آیا از حذف این پرنده {{ bird.title }} مطمین هستید؟</p>
            <input class="btn btn-danger" type="submit" value="بله. مطمینم!">
        </form>
        <a class="btn btn-info" href={% url 'bird_list' %}>لیست همه پرنده ها</a>
    </div>
</body>
</html>