{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- کد‌های قبلی -->

    <!-- لیست Kingdom ها -->
    <div class="kingdoms">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="titlepage">
                        <h2>Kingdom</h2>
                        <p>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et
                            dolore magna aliqua. Ut enim ad ipsum dolor sit amet, consectetur a</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="services_section layout_padding">
                    <div class="container">
                        <div class="services_section_2">
                            <div class="row">
                                {% for kingdom in kingdoms %}
                                    <div class="col-md-4">
                                        <div>
                                            <img src="{% static 'images/kingdom1.jpg' %}" class="services_img"
                                                 style="border-radius: 10px">
                                        </div>
                                        {{ kingdom.name }}
{#                                        <div class="btn_main text-center">#}
{#                                            <a href="{% url 'domain_detail' kingdom.name %}">{{ kingdom.name }}</a>#}
{#                                        </div>#}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- کد‌های بعدی -->
{% endblock content %}
